body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.emojis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .75em;
  height:40em;
}

.emojis:nth-child(1){
  grid-column: 1;
  grid-row:1;
}
.emojis:nth-child(2){
    grid-column: 2;
    grid-row:1;
}

.emoji:nth-child(3){
  grid-column: 1;
  grid-row:2;
}
  
.emojis:nth-child(4){
  grid-column: 2;
  grid-row:2;
}

.emoji {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: .5em 1em;
  text-align: left;
}

h2 {
  margin: 10px 0;
  padding-bottom: .13em;
  border-bottom: 1px solid black;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  width: 90%;
  color: #fff;
  background-color: #5f2093;
  text-decoration: none;
  border-radius: 5px;
  
}

.icon {
  font-size: 3em;
  order: -1;
  text-align: center;

}